.panel.panel-horizontal {
	display:table;
	width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
	display:table-cell;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-footer {
	width: 25%;
	border:0;
	vertical-align: middle;
}
.panel.panel-horizontal > .panel-heading {
	border-right: 1px solid #ddd;
	border-top-right-radius: 0;
	border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
	border-left: 1px solid #ddd;
	border-top-left-radius: 0;
	border-bottom-right-radius: 4px;
}
html,body{
    height:100%;
}

.flex-fill {
    flex:1 1 auto;
}

.accent-primary {
	background-color: rgb(105, 37, 165);
}

.accent-secondary {
	background-color: rgb(75, 28, 116);
}