{% extends "base.html" %}

{% block title %}Projects {% endblock title %}

{% block nav-projects %}<a class="nav-link" href="{% url 'projects' %}">Projects<span class="sr-only">(current)</span></a>{% endblock %}

{% block content %}
<div class="row">
        <div class='col-xl'>
            <br>
            <div class="card-columns">
                {% for project in projects %}
                <div class="card bg-secondary">
                    <div class="card-header text-white accent-primary ">{{project.name}}</div>
                    <img class="card-img-top" src="{{project.image.url}}" alt="{{project.image_alt}}">
                    <div class="card-body">
                        <p class="card-text">{{project.text}}</p>
                        {% for project_link in project.projectlink_set.all %}
                        <a href="{{project_link.link}}" class="btn btn-primary accent-secondary border-white">{{project_link.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}