{% extends "base.html" %}

{% block title %}Social {% endblock title %}

{% block nav-social %}<a class="nav-link active" href="{% url 'social' %}">Home<span class="sr-only">(current)</span></a>{% endblock %}

{% block content %}
<div class="row">
    <div class='col-xl'>
        <br>
        <div class="card accent-primary">
            <div class="card-header text-white accent-primary">Social Media</div>
            <div class="card-body bg-secondary">
                <div class="list-group">
                    {% for social_site in social_sites %}
                    <a href="{{social_site.link}}" class="list-group-item list-group-item-dark list-group-item-action">{{social_site.text}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}