{% extends "base.html" %}
{% load resume_tags %}


{% block title %}Resume {% endblock title %}

{% block nav-resume %}<a class="nav-link active" href="{% url 'resume' %}">Resume<span class="sr-only">(current)</span></a>{% endblock nav-resume %}

{% block content %}
<div class="row">
  <div class='col-xl'>
    <h1 class='text-light'>Resume</h1>
        {% if bio.text %}
        <p class='text-light'>{{bio.text|safe}}</p>
        {% else %}
        <p class='text-light'>Hello world! There would be a resume bio here, but it seems like I haven't added it yet.</p>
        {% endif %}
  </div>
</div> <!--End title/intro row-->
<div class="row">
  <div class='col-xl'>
  {% for employer in employers %}
    <div class="card text-white accent-primary mb-3 w-100">
      <div class="card-header accent-primary">{{employer.name}}</div>
      {% for position in employer.position_set.all|sort_by:'-end_date' %}
      <div class="card-header accent-secondary">{{position.city}}, {{position.state}} <span class='font-italic'>{{position.name}} ({{position.start_date|date:'F Y'}} –⁠ {% if position.end_date %}{{position.end_date|date:'F Y'}}{% else %}Present{% endif %})</span></div>
      <div class="card-body bg-secondary ">
        <p class="card-text">{{position.summary}}</p>
        <ul class="list-group">
          {% for bullet_point in position.bulletpoint_set.all %}
            <li class="list-group-item list-group-item-dark bullet-point">{{bullet_point.blurb}}</li>
          {% endfor %} 
        </ul>
      </div>
     {% endfor %} 
    </div> <!--End employers-->
  {% endfor %}
  </div> <!--End employment history column-->
</div> <!--End employment history row-->
<div class="row">
  <div class='col-xl-4'>
    <div class="card text-white accent-primary mb-3 w-100">
    <div class="card-header">Skills</div>
      <ul class="list-group">
        {% for skill in skills %}
          <li class="list-group-item list-group-item-dark">{{skill.name}}</li>
        {% endfor %}
      </ul>
    </div><!-- card -->
  </div><!-- col-xl-4 -->
  <div class='col-xl-8'>
    <div class="card text-white accent-primary mb-3 w-100">
      <div class="card-header">Education</div>
      <ul class="list-group">
        {% for education_experience in education %}
          <li class="list-group-item list-group-item-dark bg-secondary"><a class="text-light" href="{{education_experience.link}}">{{education_experience.school_name}} - {{education_experience.degree_type}} - {{education_experience.degree_field}}</a></li>
        {% endfor %}  
      </ul>
    </div>
    <br>
    <div class="card text-white accent-primary mb-3 w-100">
      <div class="card-header">Awards</div>
      <ul class="list-group">
        {% for award in awards %}
          <li class="list-group-item list-group-item-dark"><a class="text-dark" href="{{award.link}}">{{award.event_string}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}